-- ===============================================
-- !!! ÖNEMLİ UYARI !!!
-- Bu script, SQL Server Management Studio (SSMS) gibi araçlarda çalıştırılmak üzere hazırlanmıştır.
-- Her "GO" bloğu, komut ayırıcı olarak kullanılır ve ayrı ayrı çalıştırılmalıdır.
-- Lütfen scripti adım adım çalıştırın. Aksi takdirde hata alabilirsiniz.
-- ===============================================

-- ===========================
--   VERİTABANI OLUŞTURMA
-- ===========================

USE master;

CREATE DATABASE OtoSysDB;

USE OtoSysDB;
GO

-- ===========================
--   ARAÇ Tablosu OLUŞTURMA
-- ===========================

CREATE TABLE dbo.Arac (
    AracId INT IDENTITY(1000,2) PRIMARY KEY,
    UretimSeriNo  AS ('TRM1PRT' + RIGHT('00000' + CAST(AracId AS VARCHAR(5)), 5)) PERSISTED,
    Tur NVARCHAR(50) NOT NULL,
    Marka NVARCHAR(100) NOT NULL,
    Model NVARCHAR(100) NOT NULL,
    UretimBaslangicTarihi DATE NOT NULL,
    UretimBitisTarihi DATE NULL,
    MaliyetTutari DECIMAL(18,2) NOT NULL,
    SatisDurumu INT NOT NULL DEFAULT 1 CHECK (SatisDurumu IN (0, 1)), -- Enum şekinde olması için 1 satışda, 0 satıldı olarak düzenlendi.
    UretimAdedi INT NOT NULL DEFAULT 0
);

-- Tür için kontrol kısıtı
ALTER TABLE dbo.Arac
ADD CONSTRAINT CHK_Tur_Tipi
CHECK (Tur IN (
    'SUV', 'Sedan', 'Hatchback', 'Pick-up', 'Coupe', 'Cabrio',
    'Minivan', 'MPV', 'Station Wagon', 'Panelvan', 'Kamyonet'
));
GO

-- ===========================
--   ÖRNEK VERİLERİ EKLEME
-- ===========================


-- Sonuçları göster
SELECT * FROM dbo.Arac;
GO
